*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Agbalumo', sans-serif;
  
}

.headerRight {
  font-family: 'Oswald', sans-serif;
  font-weight: 400; 
}


header {
  background: #eee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
nav{
  display: flex;
}
nav > a{
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}


#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




.task-board{
  display: flex;
  gap: 20px;
  padding: 50px;
}
.column{
  width: 350px;
  border: solid 1px #888;
  border-radius: 20px;
  text-align: center;
  height: 60vh;
}